@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
.navbar{
    display: block;
    background-color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    margin: auto;
}
.menu-bar {
    border-radius: 0.625rem;
    display: inline-flex;
    background-color: rgba(0, 0, 0, .3);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    align-items: center;
    text-align: center;
    padding: 0 0.625rem;
    margin-bottom: 0;
}
.menu-bar li {
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0 1rem;
    margin: 0 1.5rem;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, .1);
}
.menu-bar li::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 1.563rem;
}
.menu-bar li:hover {
    color: rgb(151,6,44);
}
.menu-bar li:hover::before {
    box-shadow: 0px 1.25rem 1.25rem 0px black;
    transform: scale(1);
}

#menu, #menu ul
{
	list-style: none;
	background-color: black;
    display: flex;
    align-items: center;
}
#menu li
{
	position: relative;
    text-align: center;
    align-items: center;
}
#menu ul
{
	position: absolute;
	top: 50px;
	left: -1px;
	width: 200px;
	padding: 0;
	display: none;
}
#menu ul li
{
	float: none;
	margin: 0;
	padding: 0;
	line-height: 15px;
    font-size: 0.95em;
}
#menu a:link, #menu a:visited
{
	display: block;
	font-family: Tahoma;
	font-size: 0.95em;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color:white;
	padding: 5px;
}
#menu li:hover
{
	background-color: rgb(151,6,44);
	border: 1px solid #000;
    border-radius: 10px;
    color: white;
}
#menu li:hover ul
{
	display: block;
}
