.car-show-container {
    color: black;
    width: 100%;
    min-height: 170vh;
  }
  .car-show-img-banner {
    object-fit: cover;
    display: block;
    height: 95vh;
    width: 100%;
    position: relative;
    z-index: -1;
  }
  .car-show-main-section {
    display: flex;
    justify-content: space-between;
  }
  .car-show-left-container {
    margin-left: 10%;
  }
  .car-show-left-container .car-show-grid-container {
    justify-content: left;
    width: 75%;
    display: grid;
    grid-template-columns: 118px 100%;
    grid-template-areas:
      "g-car-l g-car-c"
      "g-host-l g-host-c"
      "g-desc-l g-desc-c"
      "g-feat-l g-feat-c"
      "g-rev-l g-rev-c";
  }
  .car-show-left-container .item-1 {
    grid-area: g-car-l;
    padding: 6px;
  }
  
  .car-create-container {
    color: black;
  }
  .car-create-banner {
    background-image: url("https://github.com/fsiino/thuro/blob/master/app/assets/images/car-create-banner.jpg?raw=true");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 125px;
    background-position: center;
    position: relative;
  }
  .car-create-banner-text {
    color: #ffffff;
    font-weight: normal;
    font-size: 36px;
    font-family: Plantin, AmericanTypewriter-Condensed, Times New Roman, serif;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 200;
    padding-left: 20%;
    padding-top: 80px;
  }
  .car-create-form-container {
    padding-top: 10px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 15px;
  }
  .car-create-form-container input[type="text"] {
    height: 35px;
    padding: 3px 10px;
    font-size: 13px;
    border: 1px solid #c7c7c7;
    color: #231f20;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0;
  }
  .car-create-form-container input:focus,
  .car-create-form-container textarea:focus,
  .car-create-form-container select:focus {
    border: 1px solid #8f63f3;
    outline: none !important;
  }
  .car-create-form-container label,
  .car-create-form-container h3 {
    color: #231f20;
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.5;
    padding-top: 5px;
  }
  .car-create-form-container h2 {
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
  }
  .car-create-form-container textarea {
    height: 115px;
    padding: 3px 10px;
    font-size: 13px;
    border: 1px solid #c7c7c7;
    color: #231f20;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0;
    resize: none;
  }
  .features-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .car-create-errors {
    color: red;
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.5;
    padding-top: 15px;
  }
  
  .car-index-container {
    color: black;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 1%;
    height: calc(100vh - 120px);
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .search-filter-btns {
    display: flex;
    justify-content: left;
    padding-left: 1%;
  }
  .search-filter-btns button {
    border: 1px solid black;
    color: #231f20;
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    cursor: not-allowed;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 30px;
    padding: 7px 15px;
    transition: 0.5s;
  }
  .search-filter-btns button:hover {
    background-color: #f1f1f1;
  }
  .car-listings-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .car-index-photo-wrapper {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
    position: relative;
  }
  .car-index-photo {
    width: 27vw;
    height: 27vh;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
  }
  .car-tile-container {
    padding-right: 24.5px;
    padding-bottom: 24.5px;
    position: relative;
    max-height: 350px;
  }
  .car-price {
    color: black;
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    border-radius: 3px;
    background: #ffffff;
    font-weight: 600;
    padding: 3px;
  }
  .price-per-day {
    font-weight: none;
  }
  .car-make-model-year-container {
    position: flex;
    justify-content: space-between;
    max-width: 392px;
  }
  .car-make-model {
    color: black;
    justify-content: left;
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    border-radius: 3px;
    font-size: 24px;
    font-family: Plantin, AmericanTypewriter-Condensed, Times New Roman, serif;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }
  .car-year {
    color: black;
    left: 28px;
    font-size: 18px;
    font-family: Plantin, AmericanTypewriter-Condensed, Times New Roman, serif;
    font-weight: 600;
  }
  .car-show-container {
    color: black;
    width: 100%;
    min-height: 170vh;
  }
  .car-show-container button {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background: #fff;
    cursor: pointer;
    color: #231f20;
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 700;
    height: 34px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  .car-show-container button:hover {
    background-color: #e2e2e2;
  }
  .car-show-container .car-show-add-fav-btn {
    cursor: not-allowed;
  }
  .car-show-img-banner {
    background-size: cover;
    display: block;
    height: 95vh;
    width: 100%;
    position: relative;
  }
  .car-show-main-section {
    display: flex;
    justify-content: space-between;
  }
  .car-show-left-container {
    margin-left: 10%;
  }
  .car-show-left-container .item-1 {
    grid-area: g-car-l;
    padding: 6px;
  }
  .car-show-left-container .item-2 {
    grid-area: g-car-c;
    padding: 6px;
  }
  .car-show-left-container .item-3 {
    grid-area: g-host-l;
    padding: 6px;
  }
  .car-show-left-container .item-4 {
    grid-area: g-host-c;
    padding: 6px;
  }
  .car-show-left-container .item-5 {
    grid-area: g-desc-l;
    padding: 6px;
  }
  .car-show-left-container .item-6 {
    grid-area: g-desc-c;
    padding: 6px;
  }
  .car-show-left-container .item-7 {
    grid-area: g-feat-l;
    padding: 6px;
  }
  .car-show-left-container .item-8 {
    grid-area: g-feat-c;
    padding: 6px;
  }
  .car-show-left-container .item-9 {
    grid-area: g-rev-l;
    padding: 6px;
  }
  .car-show-left-container .item-10 {
    grid-area: g-rev-c;
    padding: 6px;
  }
  .car-show-left-container .car-show-grid-container {
    justify-content: left;
    width: 75%;
    display: grid;
    grid-template-columns: 118px 100%;
    grid-template-areas: "g-car-l g-car-c" "g-host-l g-host-c" "g-desc-l g-desc-c" "g-feat-l g-feat-c" "g-rev-l g-rev-c";
  }
  .car-show-left-container .car-show-left-sec {
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-weight: bold;
    color: #5d5d5d;
    font-size: 13px;
    margin-bottom: 15px;
    text-align: left;
    text-transform: uppercase;
  }
  .car-show-left-container .car-show-title {
    flex: 0 1 auto;
    font-family: Freight, HoeflerText-Black, Times New Roman, serif;
    font-weight: bold;
    line-height: 1.2;
    min-width: 0;
    font-size: 36px;
    text-transform: uppercase;
  }
  .car-show-left-container .car-show-year {
    font-family: Plantin, AmericanTypewriter-Condensed, Times New Roman, serif;
    font-size: 24px;
    font-weight: 600;
  }
  .car-show-left-container .car-show-left-full-star {
    background-image: url("https://github.com/fsiino/thuro/blob/master/app/assets/images/review-full-star.png?raw=true");
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    margin-right: 4px;
    float: left;
  }
  .car-show-left-container .car-show-left-half-star {
    background-image: url("https://github.com/fsiino/thuro/blob/master/app/assets/images/review-half-star.png?raw=true");
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    margin-right: 4px;
    float: left;
  }
  .car-show-left-container .car-show-left-empty-star {
    background-image: url("https://github.com/fsiino/thuro/blob/master/app/assets/images/review-empty-star.png?raw=true");
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    margin-right: 4px;
    float: left;
  }
  .car-show-left-container .car-show-star-inner {
    overflow: hidden;
    width: 100%;
  }
  .car-show-left-container .car-show-star-wrapper {
    overflow: hidden;
    width: 100%;
    padding-bottom: 20px;
  }
  .car-show-left-container .car-show-left-content {
    color: #231f20;
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
  .car-show-left-container .car-show-left-content-trips {
    font-size: 13px;
    color: #231f20;
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.5;
  }
  .car-show-left-container .car-show-left-content-response {
    color: #949494;
    margin-top: 2px;
    font-size: 13px;
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.5;
  }
  .car-show-left-container .car-show-host-wrapper {
    display: flex;
    justify-content: left;
    padding-right: 10px;
  }
  .car-show-left-container .car-show-host-right-of-avatar {
    line-height: 0px;
  }
  .car-show-left-container .car-show-host-avatar {
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    margin-right: 14px;
    float: left;
  }
  .car-show-left-container .car-features-wrapper {
    display: flex;
    justify-content: space-around;
  }
  .car-show-right-container {
    width: 400px;
    position: absolute;
    top: 98vh;
    right: 2vw;
    margin-right: 5vw;
    background: white;
    padding: 40px;
    border-radius: 30px;
    border: solid 1px;
  }
  .car-show-right-container .car-show-rental {
    padding: 15px 0 25px 0;
    color: black;
  }
  .car-show-right-container .car-show-price {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 0 5px;
    font-size: 62px;
  }
  .car-show-right-container .car-show-usd {
    font-family: Times New Roman, serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 0.8;
    margin: 15px 0 0 5px;
    vertical-align: top;
  }
  .car-show-right-container .car-show-per-day {
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 1px;
    text-align: right;
  }
  .car-show-right-container
    .car-show-distance-container
    .car-show-distance-header {
    text-transform: uppercase;
    color: #5d5d5d;
    font-size: 13px;
    font-family: BasisBold, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 500;
    border-top: 1px solid #e6e6e6;
    padding-top: 10px;
  }
  .car-show-right-container .car-show-distance-container .car-show-distance {
    display: flex;
    justify-content: space-between;
  }
  .car-show-right-container .car-show-distance-container .car-show-distance-time {
    color: #231f20;
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
  .car-show-right-container .car-show-distance-container .car-show-distance-mi {
    color: #231f20;
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: right;
  }
  .car-show-right-container
    .car-show-insurance-container
    .car-show-insurance-header {
    border-top: 1px solid #e6e6e6;
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: #5d5d5d;
    padding-top: 20px;
  }
  .car-show-right-container .car-show-insurance-container .car-show-insurance-co {
    background: transparent;
    border: none;
    color: #59d389;
    font-weight: 700;
    height: auto;
    line-height: unset;
    padding: 0;
    text-align: left;
    white-space: normal;
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .car-show-right-container .car-show-add-fav-icon {
    width: 16px;
    height: 16px;
  }
  .car-show-edit-del {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #e6e6e6;
  }
  .car-show-top-trips {
    color: #231f20;
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
  .date3 {
    width: 95px;
  }

.datemain{
  display: block;
}