.bgimg{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-image: url(https://images.pexels.com/photos/164634/pexels-photo-164634.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  z-index: -1;
}
.content {
    overflow: hidden;
    position: relative;
    width: 640px;
    height: auto;
    margin: 0 auto 100px;
    background: rgba(255, 255, 255, .7);
    margin: 40px auto 50px;
    text-align: center;
  }
  .form1 {
    position: relative;
    height: 100%;
    transition: transform 1.2s ease-in-out;
    padding: 50px 30px;
  }
  .heading2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
  }
  label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
  }
  label span {
    font-size: 16px;
    color: black;
    text-transform: uppercase;
  }
  .inptGroup {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  .submit {
    margin: auto;
    background: #b85d5d;
    text-transform: uppercase;
  }